

.main{
    position: relative;
    width:100%;
    height:100%;
    padding:17px;
    /* 每个页面通过改变main的颜色来控制边框的颜色不一样 */
    background-color:#ccc;
    box-sizing:border-box;
    
}
.main-header{
    position: relative;
    width:100%;
    height:80px;
    line-height:80px;
}
.form-inline{
    height:80px;
}
.form-inline .btn:nth-of-type(2){
    background-image: url('../images/清空按钮.png');
}
.form-inline .form-group:nth-of-type(1){
    position: absolute;
    left:50px;
    font-size:24px;
    color:#333333;
    font-family:MicrosoftYaHei;
}
 .form-inline .form-group:nth-of-type(2){
    position: absolute;
    left:340px; 
    font-size:24px;
    color:#333333;
    font-family:MicrosoftYaHei;
} 
.form-inline .form-group:nth-of-type(3){
    position: absolute;
    left:628px;
    font-size:24px;
    color:#333333;
    font-family:MicrosoftYaHei;
} 
.form-group label{
    display:inline;
}
.form-inline .form-group:nth-of-type(4){
    position: absolute;
    left:900px;
    font-size:24px;
 
    color:#333333;
    font-family:MicrosoftYaHei;
} 
 .form-inline button:nth-of-type(1){
    position:absolute;
    right:100px;
    top:50%;
    transform:translateY(-50%);
    width:60px;
    height:30px
} 
.form-inline button:nth-of-type(2){
    position:absolute;
    right:30px;
    top:50%;
    transform:translateY(-50%);
    width:60px;
    height:30px

}
 
.tr_success {
    background-color: #2D6035!important;
    color: #fff;
}
 .table-hover>tbody>tr:hover {
    background-color: #9AB990!important;
}
thead{
    height:80px;
    line-height:80px;
}
tbody td i{
    width:25px;
    height:25px;
    background-image: url('../images/图层1.png');
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
tbody td:nth-of-type(2){
    position:relative;
}
.pagination-total{
    position:absolute;
    left:50%;
    bottom:40px;
}
tbody tr td{
    text-align:center;
}
thead tr th{
    text-align:center;
}

.pagination li{
    display: inline-block;
    width:41px;
    height:31px;
    font-size:18px;
    border-radius:10px;
    background-color: #fff;
    color:#d2d2d2;
}
.pagination-total>a{
    display:inline-block;
    width:70px;
    height:31px;
    line-height:31px;
    text-decoration:none;
    text-align:center;
    position:absolute;
    top:50%;
    right:-70px;
    transform:translateY(-50%)
}
.pagination li a{
    padding:0;
    width:100%;
    height:100%;
    text-align:center;
    line-height:31px;
    color:#999999;
   
}
.pagination li.active{
    background-color: #2D6035;
}
