.main{
    position: relative;
    width:100%;
    height:100%;
    /* padding:0 20px 20px 0; */
    padding: 0;
    box-sizing: border-box;
    /* 每个页面通过改变main的颜色来控制边框的颜色不一样 */
    background-color:#ccc;
}
.content-top form div:nth-of-type(1){
    padding-top: 30px;
    box-sizing: border-box;
}
.content-top{
    padding-left:30px;
    box-sizing: border-box;
}
.content-top form div span{
    display:inline-block;
    width:100px;
    text-align:left;
}
.content-top form div{
    margin-bottom:20px;
}
.content-top form div input{
    width: 251px;
    height:41px;
    outline:none;
    border:1px solid #ccc;
}
.content-top form div input[type=checkbox]{
    width:20px;
    height:20px
}
.open-style{
    position:absolute;
    left:440px;
    top:280px;

}
.content-top form div:nth-of-type(2) input{
    width:581px;
}
.line{
    padding-left: 20px;
    width:100%;
    height:30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    background-image: url('../../images/线段.png');
}
.photo-box{
    position:relative;
    padding-left:40px;
    box-sizing: border-box;
    /* display:flex; */

}
.photo-box span{
    /* padding-top:180px;
    box-sizing: border-box; */
    position:absolute;
    bottom:26px;
    left:300px;
}
.fileup-box{

    width:260px;
    height:200px;
    background-image: url('../../images/上传照片icon.png');
}
.fileup-box input{
    width:260px;
    height:200px;
    opacity: 0;
}
.allphoto{
    border-bottom:1px dashed #ccc;
    padding-bottom:10px;
    box-sizing: border-box;
    padding-top:40px;
}
.allphoto .flex-left div:nth-of-type(1){
    margin-bottom:20px;
}
.allphoto .flex-right div:nth-of-type(1){
    margin-bottom:20px;
}
.allphoto .roomdecoration{
    margin-bottom:20px;
}
body{
    height: 100%;
}
.right{
    height: 100%;
}
.roomtype{
    background: url('../../images/选择icon.png') no-repeat
}
textarea {
    width: 200px;
    height: 100px;
    outline: none;
    resize: none;
    border: 1px dotted #ccc;

}
.content-top form div select{
    width: 251px;
    height:41px;
    outline:none;
    border:1px solid #ccc;
}
.layui-btn{
    width: 218px;
    height: 150px;
    border: 1px solid #ccc;
    background: url('../../images/上传照片icon.png') center;
    vertical-align: bottom;
}

.flex-box{
    display: flex;
}
.flex-right{
    padding-left: 80px;
}
.input-flex{
    display: flex;
}
.isclear{
    font-size: 20px ;
    padding-left: 11px;
}
.noclear{
    font-size: 20px ;
    padding-left: 11px;
}
.btn-box{
    position:relative;
    height:40px;
    margin-top:50px;
}
.btn-box button:nth-of-type(1){
    width: 110px;
    height:40px;
    background-color: #D2D2D2;
    font-size:20px;
    color:#333333;
    font-family: MicrosoftYaHei;
    outline:none;
    position:absolute;
    top:-20px;
    right:300px;

}
.btn-box button:nth-of-type(2){
    background-color: #5A993E;
    font-size:20px;
    color:#fff;
    font-family: MicrosoftYaHei;
    width: 110px;
    height:40px;
    position:absolute;
    top:-20px;
    left:250px;
}

