<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>打扫详细</title>
    <!--引入通用css、js-->
    <div th:replace="header"></div>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../assets/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/plugins/layui-v2.5.4/layui/css/layui.css}"
          href="../assets/layui-v2.5.4/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/css/cleaning/common.css}" href="../common/common.css">
    <link rel="stylesheet" th:href="@{/css/cleaning/room-info.css}" href="../css/room-info.css">

    <script th:src="@{/plugins/layui-v2.5.4/layui/layui.all.js}"
            src='../assets/layui-v2.5.4/layui/layui.all.js'></script>
    <style>
        .ui-th-ltr {

            background-color: #2D6035 !important;
            color: #fff;
        }


    </style>
</head>
<body>
<div class='container' id="rrapp">
    <input type="hidden" id="id" th:value="${id}"/>
    <div class='right'>
        <div class="main">
            <div class='main-box'>
                <!-- 每一个页面就是main-box里面的内容不一样-->
                <div class='main-content'>
                    <!-- 这里的内容是变化的 -->

                    <ul class="small">
                        <li>房间编号</li>
                        <li>601-1</li>
                        <li>房间户型</li>
                        <li>
                            <input type="checkbox" checked>一室
                            <input type="checkbox">二室
                            <input type="checkbox">三室
                        </li>
                        <li>品牌名</li>
                        <li>宿洁保洁</li>
                        <li>地址</li>
                        <li>湖北省武汉市区洪山区</li>
                        <li>保洁密码</li>
                        <li>123456</li>
                        <li>保洁类型</li>
                        <li>普通保洁</li>
                        <li>保洁费用</li>
                        <li>256</li>
                    </ul>
                    <ul class="lage">
                        <li>床上区域 (一张照片)</li>
                        <li>
                            <div class="img-box">
                                <img src="../images/上传照片icon.png" alt="">

                            </div>
                            <span>文字信息文字信息文字信息文字信息文字信息</span>
                        </li>

                        <li>沙发区域 (一张照片)</li>
                        <li>
                            <div class="img-box">
                                <img src="../images/上传照片icon.png" alt="">

                            </div>
                            <span>文字信息文字信息文字信息文字信息文字信息</span>
                        </li>
                        <li>厨房区域 (一张照片)</li>
                        <li>
                            <div class="img-box">
                                <img src="../images/上传照片icon.png" alt="">

                            </div>
                            <span>文字信息文字信息文字信息文字信息文字信息</span>
                        </li>

                        <li>阳台区域 (一张照片)</li>
                        <li>
                            <div class="img-box">
                                <img src="../images/上传照片icon.png" alt="">

                            </div>
                            <span>文字信息文字信息文字信息文字信息文字信息</span>
                        </li>
                        <li>卫生间区域 ( 三张照片：洗漱台，马桶，卫生间地面)</li>
                        <li>
                            <div class="more-img-box">
                                <div>
                                    <img src="../images/上传照片icon.png" alt="">
                                </div>
                                <div>
                                    <img src="../images/上传照片icon.png" alt="">
                                </div>
                                <div>
                                    <img src="../images/上传照片icon.png" alt="">
                                </div>

                            </div>
                            <span>文字信息文字信息文字信息文字信息文字</span>
                        </li>
                        <li>其他区域（特别要求区域）</li>
                        <li>
                            <div class="more-img-box">
                                <div>
                                    <img src="../images/上传照片icon.png" alt="">
                                </div>
                                <div>
                                    <img src="../images/上传照片icon.png" alt="">
                                </div>
                                <div>
                                    <img src="../images/上传照片icon.png" alt="">
                                </div>

                            </div>
                            <span>文字信息文字信息文字信息文字信息文字</span>
                        </li>

                        <li>说明</li>
                        <li>
                            <span>没有拍照区域具体说明情况</span>
                        </li>
                        <li>
                            日用品耗损提醒
                        </li>
                        <li>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                                <div class="tix">
                                    <div>
                                        牙膏，牙刷
                                    </div>
                                    <div>
                                        <input type="checkbox" checked> 充足
                                        <input type="checkbox"> 急需补充
                                    </div>
                                </div>
                            </div>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/modules/cleaning/room.js}"></script>
<script th:src="@{/js/modules/cleaning/roomAdd.js}"></script>
</body>
</html>