<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房间列表</title>
    <!--引入通用css、js-->
    <div th:replace="header"></div>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../assets/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/cleaning/roomInfo-check.css}" href="../css/roomInfo-check.css">
    <link rel="stylesheet" th:href="@{/css/cleaning/common.css}" href="../common/common.css">
    <style>
        .ui-th-ltr{

            background-color: #2D6035!important;
            color: #fff;
        }

    </style>
</head>
<body >
<div class='container' id="rrapp">
    <div class='container'>
        <div class='right'>
            <div class="main">
                <div class='main-box'>
                    <!-- 每个页面main-box的内容不一样  -->
                    <div class="main-content" >
                        <div class='main-header'>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="exampleInputName2">品牌名</label>
                                    <input type="text" class="form-control" id="exampleInputName2">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">房间号</label>
                                    <input type="email" class="form-control" id="exampleInputEmail2">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName2">地址</label>
                                    <input type="text" class="form-control" id="exampleInputName2">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName2">时间</label>
                                    <input type="text" class="form-control" id="exampleInputName2">
                                </div>
                                <button type="button" class="btn btn btn-success">搜索</button>
                                <button type="button" class="btn" >清空</button>
                            </form>

                        </div>
                        <div class='main-table'>
                            <table cellpadding="10" cellspacing="10" class="table  table-striped table-hover" style="border-bottom: 1px solid #ccc " id="jqGrid">
                            </table>
                            <div id="jqGridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/modules/cleaning/room.js}" ></script>
</body>
</html>