<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>阿姨工作位置设置</title>
    <!--引入通用css、js-->
    <div th:replace="header"></div>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../assets/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" href="../assets/layui-v2.5.4/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/css/cleaning/work-postion.css}" href="../css/work-postion.css">
    <link rel="stylesheet" th:href="@{/css/cleaning/common.css}" href="../common/common.css">

    <script th:src="@{/plugins/layui-v2.5.4/layui/layui.all.js}"
            src='../assets/layui-v2.5.4/layui/layui.all.js'></script>
    <script th:src="@{/js/claerwork-info.js}" src='../js/claerwork-info.js'></script>
</head>
<body>
<div class='container' id="rrapp">
    <input type="hidden" id="staffId" th:value="${id}" />
    <div class='right'>
        <div class="main">
            <div class='main-box'>
                <div class='main-content'>
                    <form action="">
                        <div>
                            <span>保洁姓名</span>
                            <input type="text" form-control class="name-input" readonly v-model="staff.staffName">
                            </input>
                            <!--<img src='../images/人员选择icon.png' class='workericon-img'/>-->
                            <!--<div>-->

                                <!--<span>阿姨类别</span>-->
                                <!--<input type="radio" name="title" checked class="fullwork">-->
                                <!--<span>全职</span>-->
                                <!--<input type="radio" name="title" class="partwork">-->
                                <!--<span>兼职</span>-->

                            <!--</div>-->
                        </div>
                        <div>
                            <span>工作位置</span>


                            <select name="" id="" form-control class="my-postion" v-model="workPosition.address">
                                <option :value="places[index]"   v-for="(palce,index) in places">{{places[index]}}</option>

                            </select>


                        </div>
                    </form>
                    <div class='btn-box'>
                        <button type="button" class="btn setting" @click="saveOrUpdate" >保存</button>
                        <button type="button" class="btn clear" @click="goback">返回</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/modules/cleaning/workPosition.js}"></script>
</body>
</html>