<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/cleaning/common.css}" href="../common/common.css">
    <link rel="stylesheet" th:href="@{/static/css/cleaning/index.css}" href="../css/index.css">
</head>
<body>
<div class='right'>
    <div class="main">
        <div class='main-box'>
            <!-- 每个页面main-box的内容不一样  -->
            <div class='main-text'>
                <div>宿洁保洁管理系统</div>
                <div>Sujie cleaning management system</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>